/* WHOLE DOCUMENT SETTINGS */




/* SPECIAL-COMPONENTS */

hr {
    width: 1230px;
}


/* INTRODUCTION SECTION */


.about-me {
    display: flex;
    justify-content: center;
}

.logo {
    height: 120px;
    width: 120px;
    padding-top: 20px;
    padding-left: 20px;
    overflow: hidden;
}

.my-intro {
    margin-top: 28px;
    margin-left: 15px;
}

.name {
    font-size: 20px;
    font-style: oblique;
    font-weight: 500;
    margin-bottom: 10px;
    text-decoration: underline;
    cursor: pointer;
}


/* NAVIGATION SECTION */


.navbar {
    display: flex;
    margin-bottom: 8px;
}

.navigation {
    margin-left: 55px;
}

.nav-button {
    text-decoration: none;
    color: black;
    padding-left: 15px;
}

.nav-contact-bar {
    padding-left: 750px;
}

.contact {
    margin-left: 10px;
    text-decoration: none;
    color: black;
}


/* INTRODUCTION SECTION */

.introduction {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('Images/bg1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 1335px;
    background-repeat: no-repeat;
}

.head {
    color: blanchedalmond;
    font-family: 'Newsreader', serif;
    font-size: 55px;
    font-weight: 400;
    padding-top: 125px;
    padding-left: 425px;
}

.small-heading {
    font-family: 'Raleway', sans-serif;
}

.small-head {
    color: rgba(255, 255, 255, 0.789);
    font-weight: 300;
    font-size: 30px;
    width: 300px;
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 20px;
}

.para { 
    width: 500px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    margin: auto;
    color: #fff;
}

.btn {
    text-decoration: none;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 2px;
    margin-left: 600px;
    font-size: 18px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.btn:hover {
    color: #000;
    background-color: #fff;
}

.qualify {
    color: #000;
}

/* QUALIFICATIONS SECTION */

.qualify-box {
    display: flex;
    width: 1335px;
    color: #fff;
}

.html-qualify {
    width: 50%;
    font-family: 'Raleway', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('Images/html.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: 85px;
    text-align: center;
    padding-bottom: 85px;
}

.css-qualify {
    width: 50%;
    font-family: 'Raleway', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('Images/css.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: 85px;
    padding-bottom: 85px;
    text-align: center;
}

.qualify-head {
    font-size: 36px;
}

.qualify-info {
    font-size: 16px;
}

/* blue colour- #48C1AE */

/* CONTACT-FORM SECTION */

.contact-form {
    display: inline-block;
    background-color: #48C1AE;
    height: 100vh;
    color: #fff;
    width: 1335px;
}

.contact-us {
    color: #000;
    padding-bottom: 5px;
}

.hr-contact  {
    width: 80px;
}

.left-section {
    float: left;
    width: 49%;
}

.header-section {
    font-size: 21px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
}

.right-form-section {
    float: right;
    width: 49%;
}

.form {
    padding-top: 65px;
    padding-left: 20px;
}

.info-section {
    padding-left: 150px;
}

.block-text {
    display: block;
}

.text-box {
    color: #fff;
    border-color: #fff;
    width: 370px;
    padding: 12px;
    margin-bottom: 10px;
}

.text-box-2 {
    color: #fff;
    border-color: #fff;
    width: 168px;
    margin-right: 1px;
    padding: 12px;
    margin-bottom: 10px;
}

.text-box:active,
.text-box:hover,
.text-box-2:hover,
.text-box-2:active,
.textarea:hover,
.textarea:active {
    border: 2px solid #fff;
}

.textarea {
    height: 100px;
    width: 393px;
}

.button {
    padding: 4px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 150px;
    margin-top: 10px;
    margin-left: 130px;
    background-color: #46968a;
    border-color: #fff;
    border-radius: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

.button:active,
.button:hover {
    background-color: #000;
    border-color: #fff;
    color: #fff;
}